style 
*  {
    
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: ariel;
    }

    /* header */

        nav {
            padding: 15px;
            width: 97%px;
            margin: 25px;
            height: 80px;
            position: sticky;
            position: -webkit-sticky;
            top: 1px;
            list-style-type: none;
            overflow: hidden;
            background-color: hotpink;
            box-shadow: 0px 10px 5px;
        }

            li {
                display: inline;
                font-size: 25px;
                padding: 5px;
                float: right;
                border: 0px 3px 5px black;
            }

            p {
                margin-left: 50px;
                margin-right: 800px;
                text-indent: 40px;
            }
            
            a {
                text-decoration: none;
                color: black;
                display: block;
                margin: 10px; 
            }
            
            li a:hover {
                background-color: white;
            }

    /* main */

        h1  {
            text-align: left;  
            font-size: 35px;
        }

        img {
            padding-left: none;
            display: inline;
            border: darkblue;
            margin: 10px;
        }

        iframe {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

            .head2 h3 {
                text-align: center;    
            }

            .hero {
                height: 500px;
                width: 97%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .title1 {
                text-indent: 100px;
                margin-left: 0px;
                margin-right: 80px;
            }

            .title2 {
                text-indent: 100px;
                margin-left: 0px;
                margin-right: 80px;
            }

            .title3 {
                text-indent: 100px;
                margin-left: 0px;
                margin-right: 80px;
            }

            .jar {
                padding-bottom: 100px;
                float: right;
                width: 650px;
                height: 650px;
            }

    footer {
        padding: 10px;
        margin-left: 25px;
        margin-right: 280px;
    }

            .heading-right, .centered, .address {
                text-align: center;
            }

            .row {
                width: 100%;
                background-color: lightgreen
            }

            .colx1 {
                text-align: center;
                border-bottom: 20px;
                padding-bottom: 50px;
            }

            .colx2 {
                text-align: left;
            }

            .colx3 {
                text-align: center;
            }

            .long-message {
                height: 55px;
                width: 120px;
            }

            .audio {
                display: inline-block;
           }
            

















